*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333C83;
}

.main-container > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 4em;
    background-color: #F24A72;
}