*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #202020;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #606060;
    padding: 5em;
}