*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #404040;
}

h1 > * {
    background-color: #606060; 
    text-align: center; 
    text-shadow: 1px 1px 3px;
}

.form-container {
    display: flex;
    justify-content:center;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #606060;
    margin: 5em;
    padding: 3em;
    border-radius: .5em;
}

form > .inputf {
    padding: 1em;
    margin: 1em;
    background-color: #909090;
    display: flex;
    border-radius: 1em;
}

#submit{
    background-color: rgb(76, 233, 102);
    text-shadow: 1px 1px 3px;
}